:root {
    --ucl-blue: #000923;
    --ucl-yellow: #FDB913;
    --ucl-pink: #FF0043;
    --outside-margin: 5%;
    --navbar-height: 70px;
    --min-width: 1250px;
    --max-width: 1600px;
    --td: 150ms;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--ucl-blue);
    max-height: 7000px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: var(--outside-margin) repeat(7, 1fr) var(--outside-margin);
    gap: 2%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}

div.navbar {
    width: 100%;
    height: var(--navbar-height);
    box-sizing: border-box;
    background-color: #ffffff;
    color: var(--ucl-blue);
    margin: 0 auto;
}

.navbar .uclball {
    fill: currentColor;
    height: 40px;
    width: auto;
    color: var(--ucl-blue);
    transition-duration: var(--td);
}

.navbar .uclball:hover {
    color: var(--ucl-yellow);
    cursor: pointer;
}

.navbar-left,
.navbar-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    grid-column: 2 / 4;
}

.navbar-right {
    grid-column: 7 / 9;
}

.navbar h1 {
    color: inherit;
    font-family: tandelle, sans-serif;
    font-weight: 700;
    font-size: 40pt;
}




.main-screen {
    z-index: 3;
}

.main-screen .title {
    padding-top: 120px;
    z-index: 20;
}

.title .champs {
    grid-column: 2 / 9;
}

.rect-bg {
    transform: rotate(-4deg);
    width: 200%;
    right: -50%;
    position: absolute;
}

.main-bg-1 {
    background-color: #ffffff;
    top: -50px;
    height: 480px;
    z-index: -1;
}

.main-screen .rma-text {
    grid-column: 1 / 4;
    text-align: right;
}

.psg-text,
.rma-text {
    color: transparent;
    font-family: tandelle, sans-serif;
    font-size: 69px;
    line-height: 120px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    overflow-x: hidden;
    overflow-wrap: break-word;
    white-space: nowrap;
    overflow-y: hidden;
    grid-row: 1;
}

.main-screen .psg-text {
    grid-column: 7 / 10;
    text-align: left;
}

.hype {
    position: relative;
    top: 20px;
    z-index: 0;
    height: 700px;
}

.hype img,
.hype .center-text {
    position: relative;
    grid-row: 1;
}

.vinicius1 {
    left: 29px;
    top: 20px;
    grid-column: 1 / 4;
    width: 222px;
    transform: rotate(-5deg);
}

.rodrygo1 {
    top: 20px;
    left: 29px;
    grid-column: 2 / 5;
    width: 387px;
}

.benzema1 {
    grid-column: 1 / 4;
    width: 308px;
    left: 42px;
    top: 160px;
}

.messi1 {
    grid-column: 7 / 10;
    width: 324px;
    right: -60px;
    top: 130px;
}

.neymar1 {
    grid-column: 7 / 10;
    width: 230px;
    right: 27px;
    top: -8px;
}

.mbappe1 {
    grid-column: 8 / 10;
    width: 233px;
    top: 83px;
}

.center-text {
    grid-column: 4 / 7;
    text-align: center;
    color: white;
    font-family: tandelle, sans-serif;
    position: relative;
    top: 120px;
}

.center-text h1 {
    font-size: 170px;
    font-weight: 100;
    line-height: 180px;
}

.center-text h2 {
    font-size: 108px;
    font-weight: 100;
    line-height: 60px;
}

.center-text h3 {
    font-size: 50px;
    font-weight: 100;
    line-height: 85px;
}

.main-bg-3,
.main-bg-5 {
    transform: skew(0deg, -4deg);
    width: 200%;
    padding: 600px 0;
    z-index: -1;
    grid-column: 1;
    grid-row: 1;
}

.main-bg-3 {
    background-color: #ffffff;
}

.main-bg-5 {
    background-color: var(--ucl-blue);
}

.main-bg-4,
.main-bg-6,
.main-bg-7 {
    transform: skew(0deg, -4deg);
    width: 200%;
    padding: 600px 0;
    z-index: -1;
    grid-column: 1;
    grid-row: 1;
}

.main-bg-4,
.main-bg-7 {
    background-color: #ededed;
}

.main-bg-6 {
    background-color: #1A1A36;
}

.psg-screen,
.rma-screen,
.bottom-screen {
    z-index: 10;
    position: relative;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr
}

.psg-screen {
    top: -250px;
}

.rma-screen {
    top: -350px;
}

.bottom-screen {
    top: -350px;
}

.psg-lineup,
.rma-lineup {
    position: relative;
    top: -300px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr
}

.psg-field,
.rma-field,
.bracket-container {
    grid-column: 1;
    grid-row: 1;
    height: fit-content;
    margin: auto;
    padding-top: 6vw;
}

.psg-hype,
.rma-hype {
    height: fit-content;
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    padding-top: 6vw;
}

.psg-screen h1 {
    grid-column: 2 / 7;
    /* calc (max(MINIMUM, min(REGULAR, MAXIMUM))) to set min and max font size */
    font-size: calc(max(181px, min(14vw, 232px)));
    text-align: left;
    font-family: tandelle, sans-serif;
    font-weight: 100;
    color: var(--ucl-blue);
}

.psg-screen .psg-mono {
    height: 150px;
    grid-column: 7 / 9;
    grid-row: 1;
    margin: auto 0;
}

.psg-screen h2 {
    grid-row: 2;
    grid-column: 3 / 6;
    font-family: tandelle, sans-serif;
    font-weight: 100;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--ucl-blue);
    text-align: right;
    font-size: calc(max(106px, min(8.3vw, 136px)));
    line-height: calc(max(94px, min(7.3vw, 120px)));
}

.psg-celeb {
    grid-row: 2;
    grid-column: 2 / 6;
    width: 100%;
}

.psg-screen p {
    font-family: neue-haas-unica, sans-serif;
    font-size: 21px;
    grid-row: 2;
    grid-column: 6 / 9;
    margin-left: 16px;
    color: var(--ucl-blue);
}

.psg-subs-text,
.psg-starters-text,
.rma-subs-text,
.rma-starters-text {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    z-index: 12;
    height: fit-content;
}

.psg-subs-text,
.psg-starters-text,
.psg-subs h5,
.psg-subs h4 {
    color: var(--ucl-blue);
}

.rma-subs-text,
.rma-starters-text,
.rma-subs h5,
.rma-subs h4 {
    color: white;
}

.psg-subs-text,
.rma-subs-text {
    grid-row: 1;
    grid-column: 2 / 5;
}

.psg-starters-text,
.rma-starters-text {
    grid-row: 1;
    grid-column: 6 / 9;
}

.psg-pitch {
    grid-row: 2;
    grid-column: 6 / 9;
    z-index: 12;
}

.psg-starters,
.psg-subs,
.rma-starters,
.rma-subs {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 64px 0 20px 0;
    z-index: 13;
}

.psg-starters,
.rma-starters {
    grid-column: 6 / 9;
}

.psg-subs,
.rma-subs {
    grid-column: 2 / 5;
}

.psg-mono-bg,
.rma-mono-bg {
    grid-row: 2;
    grid-column: 2 / 9;
    z-index: 11;
    margin: auto auto;
    opacity: 3%;
}

.ucl-mono-bg {
    grid-row: 1 / 2;
    grid-column: 2 / 9;
    z-index: 0;
    width: 40%;
    margin: auto auto;
    opacity: 3%;
}



.psg-mono-bg {
    width: 40%;
}

.rma-mono-bg {
    width: 30%;
}


.shirtbox {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 116px;
}

img.shirt {
    position: relative;
    width: 80px;
    margin: 0 auto;
}

.shirtbox h5 {
    font-family: tandelle, sans-serif;
    font-weight: 100;
    font-size: 44px;
    text-align: center;
    position: relative;
    top: -64px;
}

.psg-starters h5 {
    color: white;
}

.rma-starters h5 {
    color: var(--ucl-blue);
}

.shirtbox h4 {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    top: -50px;
}

.psg-starters h4 {
    color: var(--ucl-blue);
}

.rma-starters h4 {
    color: white;
}

.psg-line {
    display: flex;
    justify-content: space-evenly;
}






.rma-screen h1 {
    grid-column: 2 / 6;
    /* calc (max(MINIMUM, min(REGULAR, MAXIMUM))) to set min and max font size */
    font-size: calc(max(181px, min(14.2vw, 232px)));
    text-align: left;
    font-family: tandelle, sans-serif;
    font-weight: 100;
    color: white;
}

.rma-screen .rma-mono {
    height: 150px;
    grid-column: 6 / 9;
    grid-row: 1;
    margin: auto 0;
}

.rma-screen h2 {
    grid-row: 2;
    grid-column: 3 / 6;
    font-family: tandelle, sans-serif;
    font-weight: 100;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-align: right;
    font-size: calc(max(106px, min(8.3vw, 136px)));
    line-height: calc(max(94px, min(7.3vw, 120px)));
}

.rma-celeb {
    grid-row: 2;
    grid-column: 2 / 6;
    width: 100%;
}

.rma-screen p {
    font-family: neue-haas-unica, sans-serif;
    font-size: 21px;
    grid-row: 2;
    grid-column: 6 / 9;
    margin-left: 16px;
    color: white;
}






/* BRACKET CSS */

.bracket {
    grid-row: 1;
    grid-column: 2 / 9;
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    align-items: center;
}

.team {
    width: 110px;
    height: 36px;
    background-color: var(--ucl-blue);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    transition-duration: var(--td);
}

.team .logo {
    opacity: 0;
    transition-duration: var(--td);
}

.team .logos {
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 50px;
}

.team object {
    height: 50px;
    max-width: 50px;
    margin: 0 auto;
    grid-row: 1;
    grid-column: 1;
}

.team h1 {
    color: white;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.row .score {
    font-family: tandelle, sans-serif;
    font-weight: 100;
    font-size: 36px;
    color: var(--ucl-blue);
}

.l .score {
    margin-left: 16px;
}

#mobile-bracket .score {
    margin-left: 3vw;
}

.r .score {
    margin-right: 16px;
}

.ro16,
.qfs,
.sfs {
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.qfs {
    padding: 90px 0;
}

.sfs {
    justify-content: center;
}

.sfs.l {
    position: relative;
    right: 40px;
}

.sfs.r {
    position: relative;
    left: 40px;
}

.match.topw:hover .top .team {
    background-color: var(--ucl-yellow);
}

.match.topw:hover .top .team object.logo {
    opacity: 100%;
}

.match.topl:hover .bottom .team {
    background-color: var(--ucl-yellow);
}

.match.topl:hover .bottom .team object.logo {
    opacity: 100%;
}

.match:hover {
    cursor: pointer;
}

.final {
    top: -550px;
    padding-top: calc(max(75px, 6vw));
    position: relative;
    z-index: 10;
}

.final .cup {
    grid-row: 1;
    grid-column: 4 / 7;
    font-family: tandelle, sans-serif;
    font-size: 60px;
    line-height: 100px;
    margin: 0 auto;
}

.final .cup .fill {
    color: var(--ucl-pink);
}

.final .cup .outline {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--ucl-pink);
}

.final .caption {
    grid-column: 3 / 8;
    grid-row: 2;
    display: flex;
    justify-content: space-evenly;
    font-family: tandelle, sans-serif;
    font-weight: 100;
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

.final .tickets {
    grid-row: 3;
    grid-column: 4 / 7;
    font-size: 44px;
    color: var(--ucl-yellow);
    font-family: tandelle, sans-serif;
    font-weight: 100;
    margin: 30px auto 100px auto;
    transition-duration: var(--td);
}

.final .tickets:hover {
    color: var(--ucl-pink);
    cursor: pointer;
}

.cupimg {
    grid-row: 1;
    grid-column: 4 / 7;
    height: 320px;
    margin: 0 auto;
}

.benzema2,
.mbappe2 {
    grid-row: 1 / 4;
    width: 200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.benzema2 img,
.mbappe2 img {
    height: 450px;
}

.benzema2 {
    grid-column: 1 / 3;
}

.mbappe2 {
    grid-column: 8 / 10;
}

.champsol,
.messi2box,
.benzema3box,
.main-bg-11,
.psg-celeb.mob,
.psg-screen h2.mob,
.psg-mobile,
.rma-mobile,
#mobile-bracket {
    display: none;
}

/* Mobile Formatting */

@media only screen and (max-width: 768px) {

    #rmanavicon,
    #psgnavicon,
    #cupnavicon,
    .rma-text,
    .psg-text,
    .rodrygo1,
    .mbappe1,
    .vinicius1,
    .neymar1,
    .messi1,
    .benzema1,
    .center-text h3,
    .mbappe2,
    .benzema2,
    .psg-celeb.dt,
    .psg-screen h2.dt,
    .rma-screen h2.dt,
    #bracket {
        display: none;
    }

    div.navbar {
        height: calc(max(var(--navbar-height) 6vw));
    }

    .navbar h1 {
        font-size: calc(min(40pt, 10vw));
    }

    .navbar .uclball {
        height: calc(min(40px, 8vw));;
    }

    .navbar {
        height: calc(min(var(--navbar-height) 15vw));
    }

    .grid {
        grid-template-columns: var(--outside-margin) repeat(3, 1fr) var(--outside-margin);
        min-width: 0px;
    }

    .navbar-left {
        grid-row: 1;
        grid-column: 2 / 5;
        justify-content: flex-start;
    }

    .navbar-right {
        grid-row: 1;
        grid-column: 4;
    }

    .navbar h1 {
        margin-left: var(--outside-margin);
    }

    .champsol {
        display: block;
    }

    .title .champs,
    .title .champsol {
        grid-column: 2 / 5;
    }

    .center-text {
        grid-column: 2 / 5;
        top: 0;
    }

    .center-text h1 {
        font-size: 32vw;
        line-height: 100%;
    }

    .center-text h2 {
        font-size: 20vw;
        line-height: 70%;
    }

    .messi2box,
    .benzema3box {
        display: block;
        width: 100%;
        display: flex;
        align-items: flex-start;
        grid-row: 2 / 7;
    }

    .messi2box {
        grid-column: 3 / 6;
        justify-content: flex-end;
    }

    .messi2,
    .benzema3 {
        width: 70%;
    }

    .benzema3box {
        grid-column: 1 / 4;
        justify-content: flex-start;
    }

    .main-bg-11 {
        display: block;
        transform: skew(0deg, -4deg);
        width: 200%;
        z-index: -1;
        grid-column: 1;
        grid-row: 1;
        background-color: var(--ucl-blue);
        padding: 44vw 0;

    }

    .hype {
        top: -30vw;
        height: fit-content;
        z-index: 20;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .hypegrid {
        width: 100%;
        height: fit-content;
        margin: auto;
        grid-column: 1;
        grid-row: 1;
    }

    .main-bg-1 {
        height: 1000px;
    }

    .main-screen .title {
        padding-top: calc(min(80px, 16vw));
    }




    .psg-screen {
        top: -30vw;
    }

    .rma-screen {
        top: -40vw;
    }

    .main-bg-3,
    .main-bg-5 {
        padding: 75vw 0;
    }

    .psg-screen img.psg-mono,
    .rma-screen img.rma-mono {
        display: none;
    }

    .psg-screen h1,
    .psg-screen h2 {
        font-size: 19vw;
        line-height: 18.5vw;
        grid-column: 2 / 5;
        text-align: left;
    }

    .rma-screen h1,
    .rma-screen h2 {
        font-size: 24vw;
        grid-column: 2 / 5;
        text-align: left;
    }

    .psg-screen .psg-celeb,
    .rma-screen .psg-celeb {
        grid-column: 1 / 6;
    }

    .psg-screen p,
    .rma-screen p {
        display: none;
    }


    .psg-screen h2.mob, .rma-screen h2.mob {
        display: block;
    }

    .rma-screen h2.mob, .rma-screen h1 {
        font-size: 26vw;
        line-height: 24vw;
    }
    
    .rma-hype {
        padding-top: 22vw;
    }

    .psg-lineup h3,
    .rma-lineup h3,
    .rma-lineup .rma-subs,
    .psg-lineup .psg-subs {
        display: none;
    }

    .psg-pitch,
    .rma-pitch,
    .psg-starters,
    .rma-starters,
    .psg-mono-bg,
    .rma-mono-bg {
        grid-column: 2 / 5;
    }

    .psg-mono-bg,
    .rma-mono-bg {
        width: 70%;
    }

    .psg-starters {
        margin-bottom: 0;
    }

    .psg-celeb.mob {
        display: block;
    }

    .psg-field,
    .rma-field {
        width: 100%;
        grid-row-gap: 0%;
        grid-column-gap: 2%;
        padding: 20px 0;

    }

    .main-bg-4,
    .main-bg-6 {
        padding: 0;
        transform: skew(0deg, 0deg);
    }

    .psg-lineup,
    .rma-lineup {
        top: -30vw;
        z-index: 20;
    }





    .psg-mobile, .rma-mobile {
        display: block;
        position: relative;
        top: -30vw;
        height: fit-content;
        padding-bottom: 40vw;
    }

    .psg-mobile {
        color: var(--ucl-blue);
        background-color: #ffffff;
    }
    
    .rma-mobile {
        color: #ffffff;
        background-color: var(--ucl-blue);
    }

    .psg-mobile .messi3, .rma-mobile .benzema4 {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        grid-column: 1 / 4;
        grid-row: 1 / 8;
        width: 36vw;
        position: relative;
        top: -14vw;
        z-index: 20;
    }

    .psg-mobile h1, .rma-mobile h1 {
        grid-column: 3 / 5;
        grid-row: 1;
    }

    .mobile-subs-1 {
        grid-column: 3;
        grid-row: 2;
    }

    .mobile-subs-2 {
        grid-column: 4;
        grid-row: 2;
    }

    .mobile-sub {
        display: flex;
        align-items: center;
    }

    .psg-mobile h1, .rma-mobile h1 {
        font-family: neue-haas-unica, sans-serif;
        font-size: 8vw;
        margin-top: 8vw;
    }

    .mobile-sub h2 {
        font-family: tandelle, sans-serif;
        font-size: 5vw;
    }

    .mobile-sub p {
        font-weight: 500;
        margin-left: 3vw;
    }

    .psg-mobile p, .rma-mobile p{
        font-family: neue-haas-unica, sans-serif;
        font-size: 3vw;
    }

    .psg-mobile h3, .rma-mobile h3 {
        -webkit-text-stroke-width: 1px;
        grid-column: 2 / 4;
        font-family: tandelle, sans-serif;
        color: transparent;
        font-size: 19.8vw;
        line-height: 17.5vw;
        grid-row: 4;
        font-weight: 100;
    }

    .psg-mobile h3 {
        -webkit-text-stroke-color: var(--ucl-blue);
    }

    .rma-mobile h3 {
        -webkit-text-stroke-color: #ffffff;
    }

    .psg-mobile .psg-mobile-celeb, .rma-mobile .rma-mobile-celeb {
        grid-column: 2 / 5;
        width: 80%;
        margin-left: 20%;
        margin-top: 5%;
        grid-row: 4;
    }

    .descript {
        grid-column: 2 / 5;
        grid-row: 6;
    }


    .bottom-screen {
        top: -30vw;
    }

    .final {
        padding-top: 0;
        top: -53vw;
        grid-template-rows: auto auto 20vw 8vw;
    }

    .final .cup h1 {
        font-size: 21vw;
        line-height: 18.5vw;
    }

    #mobile-bracket {
        display: grid;
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        padding-top: 22vw;
        grid-template-rows: 12vw repeat(4, 18vw) 12vw repeat(2, 18vw) 12vw 18vw;
    }

    #mobile-bracket h1.header {
        color: var(--ucl-pink);
        font-family: neue-haas-unica, sans-serif;
        font-weight: 800;
        font-size: 8vw;
        grid-column: 2/5;
    }

    #mobile-bracket .bracket-row {
        grid-column: 2 / 5;
        height: 100%;
        display: flex;
        justify-content: space-between;

    }

    .bracket-row .team {
        width: 25vw;
        height: 8vw;
        align-items: center;
    }

    #mobile-bracket .bracket-row h1 {
        font-size: 5.5vw;
        line-height: 0;
    }

    #mobile-bracket .logos {
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        width: 45%;
    }

    .team object {
        height: 100%;
        max-width: 100%;
    }

    .match {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-bg-7 {
        padding: 150vw 0;
    }

    .final .tickets {
        grid-column: 2 / 5;
    }

    .final .caption {
        grid-column: 2 / 5;
        flex-direction: column;
        text-align: center;
    }

    .final .cupimg {
        grid-column: 2 / 5;
    }

    .final .cup {
        grid-column: 2 / 5;
        margin: 0 auto;
    }
    
    body {
        height: fit-content;
        max-height: 6000px;
    }

    .tickets h2 {
        font-size: 14vw;
    }

    .final .caption p {
        font-size: 7vw;
        line-height: 8vw;
    }

    .cupimg {
        height: 61vw;
    }

}




@media only screen and (max-width:500px) {

    .psg-line {
        height: fit-content;
    }

    .shirtbox {
        width: 21vw;
        height: 21vw;
    }
    
    .shirtbox img.shirt {
        width: 16.5vw;
    }

    .shirtbox h5 {
        font-size: 9vw;
        top: -13vw;
    }

    .shirtbox h4 {
        top: -10vw;
        font-size: calc(min(3.4vw, 16px));
    }

    .psg-starters, .rma-starters {
        height: 91%;
        margin-top: 8vw;    
    }
}

@media only screen and (max-width: 250px) {
    .center-text h1 {
        font-size: 29vw;
    }

    .center-text h2 {
        font-size: 18vw;
    }

    .psg-screen h1, .psg-screen h2 {
        text-align: center;
        font-size: 18vw;
        line-height: 17.2vw;
    }
}